<h1>Add a new number</h1>
<form action = "/home/add_process" method="post">
Name:<input type="text" name="phone_user"><vr>
Phone number: <input type="text name="phone_number">
<input type="summit" value="add">

</form>




